certifi==2026.7.22
jupytext==1.19.5
torch==2.13.0+cu130
nvidia-cufile==1.15.1.6
xxhash==4.0.1
python-dateutil==2.9.0.post0
fonttools==4.63.0
cuda-toolkit==13.0.3.0
contourpy==1.3.3
pyparsing==3.3.2
mdurl==0.1.2
referencing==0.37.0
nvidia-cublas==13.1.1.3
python-slugify==8.0.4
sentry-sdk==2.68.1
MarkupSafe==3.0.3
python-dotenv==1.2.3
wheel==0.47.0
kagglesdk==0.1.37
kaggle==2.2.4
PyYAML==6.0.3
typing-inspection==0.4.4
six==1.17.0
wandb==0.29.0
pydantic==2.13.5
webencodings==0.6.1
jsonschema==4.26.0
pyarrow==25.0.0
requests==2.34.2
attrs==26.1.0
jupyter_core==5.9.1
nvidia-cudnn-cu13==9.20.0.48
nvidia-cuda-nvrtc==13.0.88
networkx==3.6.1
nvidia-cusparselt-cu13==0.8.1
joblib==1.5.3
tqdm==4.70.0
nvidia-cufft==12.0.0.61
bleach==6.4.0
nvidia-nvshmem-cu13==3.4.5
sympy==1.14.0
rpds-py==2026.6.3
mdit-py-plugins==0.6.1
fastjsonschema==2.22.2
nvidia-cusparse==12.6.3.3
mpmath==1.3.0
packaging==26.2
scipy==1.18.1
protobuf==7.36.0
text-unidecode==1.3
traitlets==5.16.1
nbformat==5.11.1
nvidia-cuda-cupti==13.0.85
pandas==3.0.5
narwhals==2.25.0
jsonschema-specifications==2025.9.1
filelock==3.32.4
numpy==2.5.2
triton==3.7.1
nvidia-cuda-runtime==13.0.96
matplotlib==3.11.1
nvidia-nccl-cu13==2.29.7
cuda-pathfinder==1.6.0
idna==3.19
nvidia-nvjitlink==13.3.33
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
scikit-learn==1.9.0
typing_extensions==4.16.0
urllib3==2.7.0
markdown-it-py==4.2.0
pymupdf==1.28.2
opentelemetry-api==1.44.0
pillow==12.3.0
cycler==0.12.1
fsspec==2026.7.0
cuda-bindings==13.3.1
click==8.5.0
platformdirs==4.11.5
kiwisolver==1.5.1
nvidia-nvtx==13.0.85
threadpoolctl==3.6.0
Jinja2==3.1.6
setuptools==82.0.1
pydantic_core==2.46.5
annotated-types==0.8.0
charset-normalizer==3.5.1
pip==26.1.2
